In [15]:
import mysql.connector

In [36]:
connection = mysql.connector.connect(
    user='mysqluser',
    password='*7E567C9DC06217268D72D52BABCA14EAB8993ACF',
    host='104.237.2.219',
    port='5340',
    database='retail'
)

cursor = connection.cursor()

In [37]:
cursor.callproc("manage_customer_data")

()

In [46]:
cursor.execute("""
create procedure customers_new()
begin
            CREATE TABLE  Customers_data (
            CustomerID INT AUTO_INCREMENT PRIMARY KEY,
            Name VARCHAR(100),
            Email VARCHAR(100)
        );  

            INSERT INTO Customers_data (Name,Email) Values ("Sai","sai@gmail.com"),("Vishnu","vishnu@gmail.com");   
end;             
""")

In [47]:
cursor.callproc("customers_new")

()

In [48]:
cursor.execute("SELECT * FROM Customers_data")
customers = cursor.fetchall()
print("Customers Table Data:")
for customer in customers:
    print(customer)

Customers Table Data:
(1, 'Sai', 'sai@gmail.com')
(2, 'Vishnu', 'vishnu@gmail.com')