In [2]:
import mysql.connector

In [3]:
ndb = mysql.connector.connect(
    user='mysqluser',
    password='*7E567C9DC06217268D72D52BABCA14EAB8993ACF',
    host='104.237.2.219',
    port='5340',
    database='retail'
)

In [4]:
testdb = ndb.cursor()

In [4]:
testdb = ndb.cursor()

testdb.execute("create database comp_database")

print("Database has been succesfully created")

Database has been succesfully created

In [5]:
testdb.execute("use comp_database")
print("Database is in Use")

Database is in Use

In [6]:
testdb.execute("""
               Create Table dep_table(
               Dep_ID INT Primary key Auto_increment,
               Dep_Name VARCHAR (30)
               )""")

In [14]:
testdb.execute("""
               Create Table employee_table(
               Emp_ID INT Primary key Auto_increment,
               Emp_Name VARCHAR (30),
               Emp_Salary Decimal(10,2),
               Dep_ID INT,
               foreign key (Dep_ID) References dep_table (Dep_ID)
               )""")
print("Emp and Dept tables are Created")

Emp and Dept tables are Created

In [18]:
departments = [("HR",),("Marketing",),("Sales",),("Product",),("Project",)]
for dep in departments:
    testdb.execute("Insert into dep_table (Dep_Name) values (%s)" ,dep)
ndb.commit()
print("Departments Inserted")

Departments Inserted

In [19]:
employees=[("Hari",2000.00,1),
           ("Siva",3000.00,2),
           ("Surya",4000.00,3),
           ("Charan",5000.00,4),
           ("Phani",6000.00,5),
           ("Chay",3000.00,2),
           ("Siri",4000.00,4)
           ]
for emp in employees:
    testdb.execute("insert into employee_table (Emp_Name,Emp_Salary,Dep_ID) Values (%s,%s,%s)",emp)
ndb.commit()
print("Employee values inserted")

Employee values inserted

In [30]:
for emp_id in range (1,8):
    if emp_id == 1:
         testdb.execute("""Update employee_table set Emp_Salary=3000.00 where Emp_ID = %s""",(emp_id,))
ndb.commit()
print("Slaray has been updated")

Slaray has been updated

In [32]:

show_table2 = """SELECT *from dep_table"""
testdb.execute(show_table2)
department = testdb.fetchall()
for depart in department:
    print(depart)

(1, 'HR')
(2, 'Marketing')
(3, 'Sales')
(4, 'Product')
(5, 'Project')

In [53]:

show_table1 = """SELECT *from employee_table"""
testdb.execute(show_table1)
employee = testdb.fetchall()
for employ in employee:
    print(employ)

(1, 'Hari', Decimal('3000.00'), 1)
(2, 'Siva', Decimal('3000.00'), 2)
(3, 'Surya', Decimal('4000.00'), 3)
(4, 'Charan', Decimal('5000.00'), 4)
(5, 'Phani', Decimal('6000.00'), None)
(7, 'Siri', Decimal('4000.00'), None)

In [34]:
testdb.execute("Delete from employee_table where Emp_ID=6")
ndb.commit()

In [ ]:
#get the distinct values
testdb.execute("Select distinct `Dep_ID` from `employee_table`")
dis_dep = testdb.fetchall()
for depa in dis_dep:
    print(depa[0])

1
2
3
4
5

In [57]:
#innerjoin
testdb.execute(""" 
    select E.Emp_ID,E.Emp_Name,E.Emp_salary,D.Dep_Name from employee_table E 
    inner join dep_table D on E.Dep_ID = D.Dep_ID
""")
innerjoin=testdb.fetchall()
for join in innerjoin:
    print(join)

(1, 'Hari', Decimal('3000.00'), 'HR')
(2, 'Siva', Decimal('3000.00'), 'Marketing')
(3, 'Surya', Decimal('4000.00'), 'Sales')
(4, 'Charan', Decimal('5000.00'), 'Product')

In [58]:
#leftjoin
testdb.execute(""" 
    select E.Emp_ID,E.Emp_Name,E.Emp_salary,D.Dep_Name from employee_table E 
    left join dep_table D on E.Dep_ID = D.Dep_ID
""")
leftjoin=testdb.fetchall()
for joins in leftjoin:
    print(joins)

(1, 'Hari', Decimal('3000.00'), 'HR')
(2, 'Siva', Decimal('3000.00'), 'Marketing')
(3, 'Surya', Decimal('4000.00'), 'Sales')
(4, 'Charan', Decimal('5000.00'), 'Product')
(5, 'Phani', Decimal('6000.00'), None)
(7, 'Siri', Decimal('4000.00'), None)

In [59]:
#rightjoin
testdb.execute(""" 
    select E.Emp_ID,E.Emp_Name,E.Emp_salary,D.Dep_Name from employee_table E 
    right join dep_table D on E.Dep_ID = D.Dep_ID
""")
rightjoin=testdb.fetchall()
for joinss in rightjoin:
    print(joinss)

(1, 'Hari', Decimal('3000.00'), 'HR')
(2, 'Siva', Decimal('3000.00'), 'Marketing')
(3, 'Surya', Decimal('4000.00'), 'Sales')
(4, 'Charan', Decimal('5000.00'), 'Product')
(None, None, None, 'Project')

In [52]:
testdb.execute("update employee_table set Dep_ID = Null  where Emp_ID=7")
ndb.commit()

In [68]:
#groupby
testdb.execute("""
select D.Dep_Name,Avg(E.Emp_Salary) as Avg_Salary from employee_table E 
    right join dep_table D on E.Dep_ID = D.Dep_ID 
    group by D.Dep_Name having Avg_salary>4000.00 
""")
groupby=testdb.fetchall()
for by in groupby:
    print(by)

('Product', Decimal('5000.000000'))

In [73]:
#like operator
testdb.execute(""" 
select Emp_Name from employee_table where Emp_name like '%a'
""")
like=testdb.fetchall()
for new in like:
    print(new)

('Siva',)
('Surya',)

In [74]:
#in opertor
testdb.execute(""" 
select Emp_Name from employee_table where Emp_ID in (3)
""")
raw=testdb.fetchall()
for saw in raw:
    print(saw)

('Surya',)

In [5]:
drop_table="""drop Table stud_table"""
testdb.execute(drop_table)
print("Table has been dropped")

ProgrammingError: 1051 (42S02): Unknown table 'retail.stud_table'