In [1]:
import mysql.connector

In [6]:
mydb = mysql.connector.connect(
    user='mysqluser',
    password='*7E567C9DC06217268D72D52BABCA14EAB8993ACF',
    host='104.237.2.219',
    port='5340',
    database='retail'
)

In [7]:
sampledb = mydb.cursor()

In [9]:
sampledb.execute("create database demo_database")

print("Database has been succesfully created")

Database has been succesfully created

In [11]:
sampledb.execute("use demo_database")

print("Database in use")

Database in use

In [16]:
create_table = """CREATE TABLE New_Table(
	Test_ID INT Primary key auto_increment,
	Name VARCHAR(20),
	Age INT,
	Email VARCHAR(25)
)"""

In [17]:
sampledb.execute(create_table)

print("table has been created")

table has been created

In [23]:
sample_insert = """INSERT into New_Table(Name,Age,Email) values (%s,%s,%s)"""

persons = [
    ("Sai",21,"sai@gmail.com"),
    ("Charan",32,"charan@gmail.com"),
    ("Vishnu",31,"vishnu@gmail.com")
]

In [24]:
sampledb.executemany(sample_insert,persons)
print("Inserted data")

Inserted data

In [25]:
mydb.commit()
print(f"{sampledb.rowcount} these are the rows which are updated")

3 these are the rows which are updated

In [28]:
delete_query = """Delete from New_Table where Name = 'Vishnu' """

In [29]:
sampledb.execute(delete_query)
print("charan data deleted")
mydb.commit()
print(f"{sampledb.rowcount} these are the rows which are deleted")

charan data deleted
1 these are the rows which are deleted

In [30]:
update_query ="""update New_Table set age=22 where Name='sai' """

In [31]:
sampledb.execute(update_query)
print("Sai data updated")
mydb.commit()
print(f"{sampledb.rowcount} these are the rows which are updated")

Sai data updated
1 these are the rows which are updated

In [32]:
show_table = """SELECT *from New_Table"""

sampledb.execute(show_table)

In [33]:
for row in sampledb.fetchall():
    print("Rows",row)

Rows (1, 'Sai', 22, 'sai@gmail.com')

In [34]:
drop_table="""drop Table New_Table"""
sampledb.execute(drop_table)
print("Table has been dropped")

Table has been dropped

In [36]:
drop_db = """Drop Database demo_database"""
sampledb.execute(drop_db)
print("Database has been dropped")

Database has been dropped

In [37]:
sampledb.close()
mydb.close()
print("all connections Closed")

all connections Closed